button {
    width: 150px;
    height: 60px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #dfdfdf;
    border: 2px solid #2b2a2a;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #40a567;
}

.botonClick {
    background-color: rgb(207, 62, 62);
}

.botonReiniciar {
    background-color: #4f2c6e;
}