* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    background-color: #2b2b2b;
    font-family: Montserrat, sans-serif;
    
}

h1{
    color: #333;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 20px 0;

}

.app-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* logo */

.logo-contenedor{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width:10%;
    height: 10%;
}

/* lista tareas */

.tareas-lista-principal{
width: 600px;
min-height:  500px;
background-color: #efefef;
padding: 25px;
margin:10px;
border-radius:  10px;
}

